*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


header .header-section--wall{
    display: flex;
    width: 100%;
}

/* Header background */

header .header-section--wall .header-wall, .background-movie{
    width: 75px;
    height: 18vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

header .header-section--wall .wall1{
    background-image:linear-gradient(rgba(5,7,12,0.70), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/2c/5e/e1/2c5ee1b56125136a9c399435ca987084.jpg");
}
header .header-section--wall .wall2, #backgroundDiv{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/f4/11/43/f4114326be71a66dbc8934da41e8557d.jpg");
}
header .header-section--wall .wall3{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/80/f2/c7/80f2c7edbc9ba16d6424230b7ce62fbd.jpg");
}
header .header-section--wall .wall4{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/f6/23/07/f623079bcc02b49ab9a839b239c81b9d.jpg");
}
header .header-section--wall .wall5{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/1e/9e/bd/1e9ebd3b6d16ad6a6fe6a2718e8bbb04.jpg");
}
header .header-section--wall .wall6{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/34/b9/b6/34b9b68fa14b627fd6ab847f1420716e.jpg");
}
header .header-section--wall .wall7{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/96/eb/ee/96ebeeb354ff0d0e6ae8cfeb51712149.jpg");
}
header .header-section--wall .wall8{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/17/fa/7c/17fa7c0b855376418d3b4240dcb41c32.jpg");
}
header .header-section--wall .wall9{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/98/07/77/9807778b6251273270fe6d8b639ea1e4.jpg");
}
header .header-section--wall .wall10{
    background-image:linear-gradient(rgba(2,4,7,0.30), rgba(5,7,12,0.70)),
    url("https://i.pinimg.com/564x/77/dd/9d/77dd9d691ba22caf5510d1d30018045d.jpg");
}

/* Header background done */

header .header-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 3px 0;
}

header .header-nav .header-nav--ul{
    display: flex;
    justify-content: space-around;
    gap:30px;
    justify-content: right;
    padding-right: 20px;
}
.header-nav .header-nav--ul li{
    list-style: none;
}

.header-nav .header-nav--ul li a{
    text-decoration: none;
    color: white;
    
}

.header-nav .header-nav--ul .home-nav  a{
    text-decoration: underline;
}

.header-nav .header-nav--ul li:hover{
    transform: scale(1.1);
}

.header-nav .search-container{
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
}

.header-nav .search-container:hover{
    transform : translateY(-5px);
}

.header-nav .search-container input{
    position: absolute;
    left: 0;
    width: 260px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;;
}

.header-nav .search-container input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

.header-nav .search-container button{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-image: url("../icon/search.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* Header Nav done */


/* Main */


main{
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: auto;
    margin-top: 20px;
}

main .section-Top{
    width: 90%;
    margin: 40px auto;
}

main .section-Top h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}

main .section-Top .top10--container{
    height: 320px;
    display: flex;
    gap: 20px;
    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    padding: 20px 0 0 20px;
}


main .section-Top .top10--container::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}

main .section-Top .top10--container::-webkit-scrollbar
{
 width: 10px;

}

main .section-Top .top10--container::-webkit-scrollbar-thumb
{
    background-color:brown;
}

main .section-Top .top10--container article{
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 280px;
    position: relative;
    order: 1;
}

main .section-Top .top10--container .ok{
    margin-left: 20px;
    order: 2;
}

main .section-Top .top10--container article .background-movie{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

main .section-Top .top10--container article .background-movie button{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border: none;
}

main .section-Top .top10--container article picture, .top--moviepages .top-mp--article .image--Top-movie{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

main .section-Top .top10--container article picture img, .top--moviepages .top-mp--article .image--Top-movie .movie-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .section-Top .top10--container article .text-container{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0 10px;
    background-color: orangered;
}

main .section-Top .top10--container article .text-container h3{
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

main .section-Top .top10--container article .text-container p{
    padding-top: 3px;
}

main .section-Top .top10--container article .text-container p a{
    font-size: 14px;
    text-decoration: none;
    color: maroon ;
}

main .section-Top .top10--container article .text-container p:hover{

    transform: scale(0.9);
}

main .section-Top .top10--container article .text-container p a:hover{
    text-decoration: underline;
}

main .main-section--nav{
    width: 90%;
    margin: 0 auto;
}


.main-section--nav .section-nav-categories{
    width: 80%;
    margin: 20px auto;
}

.main-section--nav .section-nav-categories .main-nav-categories--ul{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}

.main-section--nav .section-nav-categories .main-nav-categories--ul::-webkit-scrollbar{
    width: 0;
}

.main-section--nav .section-nav-categories .main-nav-categories--ul .ul-div--category{
    background-color: papayawhip;
    min-width: 100px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section--nav .section-nav-categories .main-nav-categories--ul .ul-div--category .category-tilte{
    text-decoration: none;
    color: #000000;
}

.main-section--nav .section-nav-categories .main-nav-categories--ul .ul-div--category:hover{
    transform: scale(1.1);
}

/* Main done */

/* footer */

footer{
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: 10vh;
    background: maroon;
    padding-top: 10px;
    margin-top: 30px;
}

footer .footer-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav--social_media{
     display: flex;
     height: 100%;
}

.footer-nav--social_media .social{
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-nav--social_media .insta{
    background-image: url(../icon/instagram.png);
}
.footer-nav--social_media .twitter{
    background-image: url(../icon/twitter.png);
}
.footer-nav--social_media .youtube{
    background-image: url(../icon/youtube.png);
}
.footer-nav--social_media .tiktok{
    background-image: url(../icon/tiktok.png);
}

.footer-nav--text .footer-nav--ul li{
    padding-bottom: 5px;
    list-style: none;
}

.footer-nav--text .footer-nav--ul li a{
    color: white;
}

.footer-nav--text .footer-nav--ul li a:hover {
    text-decoration: none;
}

/* Footer done */
