/* Active Inactive */


/* Header */
.active-size{
    width: 100%;
    height: 150px;
    min-width: 320px;
    max-width: 768px;
}

main{
   display: flex;
   flex-direction: column;
}

/* main .category-active{
    order: 1;
}

main .order-page{
    order: 2;
} */

.active-size-search{
    height: 20vh;
}
/* Inactive Page */
.inactive{
    display: none !important;
}

header .inactiveback{
    display: none !important;
}



/* Nav style */
.header-nav .header-nav--ul .inactive-color a{
    text-decoration: overline;
}


/* seach page */

main .search-page--search {
    margin: 10px 0;
    height: auto;
}

.search-movie--loading{
    background-color: #EEEAF2;
    border-radius: 8px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 160px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.search-movie--loading:nth-child(2){
    animation-delay: 2s;
}
.search-movie--loading:nth-child(3){
    animation-delay: 2s;
}

/* seach page done */


/* Movie pages */

main .page-section{
    width: 90%;
    height: auto;
    margin: 40px auto;
}

main .page-section h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

main .page-section .top--moviepages, .search-page--search  .main--search-section {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}

main .section-Top .top--moviepages .top-mp--article, .page-section .top--moviepages .search-img, .search-page--search  .main--search-section .search-img{
    width: 100px;
    height: 100%;
    min-height: 160px;
}

/* Movie pages done */

/* Movie Description */
header .description-img--section{
    width: 100%;
    height: auto;
    position: fixed;
    position: absolute;
 }
 
 .description-img--section .movie-img{
     width: 100%;
     max-width: 768px;
     height: 400px;
 }
 
 .description-img--section .movie-img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

main .description-page--section{
    z-index: 2;
    background-color: maroon;
    padding: 15px 5px;
    border-radius: 15px 15px 0 0;
    margin-top: 200px;
}

.description-page--section .description-text--section{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.description-page--section .description-text--section .description-movies{
    width: 100%;
    height: auto;
  
}

.description-page--section .description-text--section .description-movies .nav-description{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.description-page--section .description-text--section .description-movies .nav-description ul{
    display: flex;
    flex-wrap: wrap;
    gap:  5px;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 14px;
}

.description-page--section .description-text--section .description-movies .nav-description ul li{
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

.description-overview{
    text-align: center;
}

.description-page--section .description-text--section .movie-cast-container{
    margin: 20px 0;
}

.description-page--section .description-text--section .movie-cast-container .actor-section{
    margin-bottom: 15px;
}

.description-page--section .description-text--section .movie-cast{
    padding-top: 3px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.description-page--section .description-text--section .movie-cast p{
    font-size: 12px;
}

.description-page--section .similar-movies h5{
    text-align: right;
}

.description-page--section .similar-movies .similar-movies--container{
    display: flex;
    height: 200px;
    gap: 10px;
    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}

.description-page--section .similar-movies .similar-movies--container .similar{
    width: 100%;
    min-width: 120px;
    height: 190px;
}

.description-page--section .similar-movies .similar-movies--container .similar .similar-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius:  20px;
}

.similar-movie--loading{
    background-color: #EEEAF2;
    border-radius: 8px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.similar-movie--loading:nth-child(2){
    animation-delay: 2s;
}
.similar-movie--loading:nth-child(3){
    animation-delay: 2s;   
}

/* Movie Description Done */


.loading-spinner{
    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: #22a6b3;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
    animation: spinner 1s linear infinite;
    position: relative;
    top: 100%;
}

/* animation */

@keyframes spinner{
    to { transform: rotate(360deg);}
}